@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Grocery Delivery</h1>
    <h2 style="margin-top:100px">Your preferred site for online grocery delivery.</h2>
    <p style="margin-top:100px">Please <a asp-area="" asp-page="/SignIn">sign in</a> and start your order.</p>
</div>
