@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3 style="margin-top: 30px">We collect information in a few different ways</h3>

<p>When you sign up for or use Online Grocery Delivery you voluntarily share certain information including your name, email address, phone number, photos, comments, and any other information you give us. You can also choose to share your precise location using your device settings or through photos. We will still use your IP address, which is used to approximate your location, even if you don't choose to share your precise location. You will also have the option to share other information about yourself such as your gender, age and preferred language.</p>

<h3>Our policy on children’s information</h3>

<p>Children under 13 are not allowed to use Online Grocery Delivery. If you are based in the EEA you may only use Online Grocery Delivery if you are over the age at which you can provide consent to data processing under the laws of your country.</p>

<h3>California residents</h3>

<p>The California Consumer Privacy Act (CCPA) requires us to disclose categories of Personal Information we collect and how we use it, the categories of sources from whom we collect Personal Information, and the third parties with whom we share it.</p>


<blockquote style="margin-top: 30px">
    <footer>
        Source: <br />
        <cite><a href="https://policy.pinterest.com/en/privacy-policy">Pinterest Privacy Policy</a></cite>.
    </footer>
</blockquote>