@page
@model OnlineGroceryDelivery.Pages.SignInModel
@{
    ViewData["Title"] = "Sign In";
}

<style>
    body {font-family: Arial, Helvetica, sans-serif;}
    form {border: 3px solid #f1f1f1;}

    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: mediumpurple;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.8;
    }

    .signupbtn {
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        background-color: green;
    }

    .forgotbtn {
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        background-color: goldenrod;
    }

    .cancelbtn {
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        background-color: #f44336;
    }

    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }

    .container {
      padding: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @@media screen and (max-width: 500px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
</style>

<h1>Sign In</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form action="/action_page.php" method="post">
            <div class="imgcontainer">
                <img src="~/images/logo.gif" width="32" height="32" />
                Online Grocery Delivery
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        </form>

        <div class="container" style="background-color:#f1f1f1">
            <div class="row">
                <div class="col-4 text-center"><a asp-area="" asp-page="/Customer/Create"><button class="signupbtn">Sign Up</button></a></div>

                <div class="col-4 text-center"><a asp-area="" asp-page="/ForgotPassword"><button class="forgotbtn">Forgot Password</button></a></div>

                <div class="col-4 text-center"><a asp-area=""  asp-page="/Index"><button class="cancelbtn">Cancel</button></a></div>
            </div>
        </div>
    </div>
</div>
